---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// JetBrains Mono

@font-face{
    font-family: 'JetBrains Mono';
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.eot') format('embedded-opentype'),
         url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff') format('woff'),
         url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// * {
//     -webkit-font-feature-settings: "liga" on, "calt" on;
//     -webkit-font-smoothing: antialiased;
//     text-rendering: optimizeLegibility;
//     font-family: 'JetBrains Mono';
// }


// Below: adapted from https://github.com/samarsault/texture/blob/master/_sass/_syntax.scss

@import 'ext/solarized-light';

div.highlighter-rouge:before {
    content:"";
    background-color:#f8f8f8;
    border-top: 1px solid #f0f0f0;
    position: absolute;
    height: 100%;
    width: 200vw;
    left: -100vw;
    z-index: -1;
}

div.highlighter-rouge {
	position: relative;
    /*right: 150px;*/
	margin: 1em 0;
}

.highlight {
	background-color: #f8f8f8;
}

div.highlight {
    border-top: 1px solid #f0f0f0;
	padding: 1em /*150px*/ 0px;
}

pre.highlight, code {
    font-family: 'JetBrains Mono', 'Consolas', Menlo, monospace;
    font-size: 11pt;
	line-height: 1.4em;
	tab-size: 4;
	background-color: #f8f8f8;
    white-space: pre-wrap;
}

// Custom

body {
    overflow-x: hidden;
}

hr {
    border: 2px solid #f4f4f4;
    margin: 1.5rem 1rem;
}
