---
layout: default
---
<style>
figure { text-align: center; margin-bottom: 1.5em; }
figure.seamless img { border: none; box-shadow: none; padding: 0; }
figure img { max-width: 100%; }
figcaption { font-style: italic; }

{% if page.theme == "slate" %}
body { background-color: #f2f2f2; }
div.highlighter-rouge::before, .highlight, pre.highlight, code { background-color: #eeeeee; }
{% endif %}
</style>

<a href="{{ site.url }}">&larr;&ensp;blog index</a>

<h1>{{ page.title }}</h1>

{% if page.date %}<p style="opacity: 0.5">{{ page.date | date_to_string }}{% if page.updated %}, last update {{ page.updated | date_to_string }}{% endif %}</p>{% endif %}

{{ content }}

{% if page.comments %}
<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = '{{ site.url }}{{ page.url | replace:'index.html',''}}';
this.page.identifier = '{{ page.url }}';
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://minexew-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
